@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

/*==mobile first stylsheet==*/
/*geral*/
body {
  color: white;
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.3rem;
  line-height: normal;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  line-height: 26px;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

p {
  font-family: 'Slabo 27px', serif;
  font-size: 1rem;
  font-weight: 100;
}

/*header*/
header {
  max-height: 25%;
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;
}

#logo {
  padding: 0.3em;
  width: 60px;
}

/*section*/
section {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding-top: 2em;
  overflow: auto;
}

section #contato {
  font-family: 'Slabo 27px', serif;
  font-size: 1.3em;
  text-align: center;
  margin: 1em;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  color: #FF001E;
  position: fixed;
  opacity: 0.7
}

.main {
  margin-top: 2em
}

/*article*/
article {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: auto;
  padding: 1em;
  min-width: 300px;
}

.box {
  border-style: solid;
  border-width: 0.1px 0 0 0;
  border-color: gray;
}

.piclua, .pic-heca, .pic-acasos, .pic-houdini {
  border: .3px solid #B6C4C4;
}

.texto {
  width: 40%;
  text-align: right;
  padding-right: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.titulo {
  line-height: 1.4em;
  padding: 0.2em;
}

.detalhes {
  padding: 0.2em;
}

.pic {
  width: 60%;
  opacity: 1;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

/*pages*/
.box-full {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pic-portfolio {
  width: 100%;
}

.texto-portfolio {
  width: 80%;
  margin: auto;
}

.texto-portfolio p {
  margin-top: 1em;
}

#sobre {
  text-align: justify;
  margin-bottom: 0.7em;
}

/* primeira quebra */
@media screen and (min-width:450px) {
  header {
    max-width: 40%;
  }

  h1 {
    font-size: 1.6em;
  }
}

/* segunda quebra */
@media screen and (min-width:600px) {
  header {
    max-height: 30%;
  }
}

/* terceira quebra */
@media screen and (min-width:650px) {
  .first-box {
    margin-left: 2em;
  }

  h1 {
    font-size: 2em;
  }

  section {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  article {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: auto;
  }

  .box {
    border-width: 0 0.1px 0 0;
  }

  .texto {
    width: 70%;
    align-self: flex-end;
  }

  .pic {
    width: 100%;
    margin-top: 3em;
  }

  header {
    max-width: 50%;
  }

  #logo {
    padding: 0.3em;
    width: 120px;
  }
}

@media screen and (min-width:950px) {
  header {
    max-width: 30%;
  }
}