@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/*==mobile first stylsheet==*/
/*geral*/
body {color:white; background-color: black;font-family:'Oswald', sans-serif;}
img {max-width:100%;}
a{text-decoration:none; color:white;}
h1 {font-size: 1.2em;}
h2 {font-size: 1.2rem;}
h3 {font-size: 1rem;}
h2, h3, h5 {font-weight:100;}
p {font-family:'Slabo 27px', serif;  font-size:1rem;font-weight: 100;}
/*header*/
header {width:50%; margin:auto; display:flex; flex-direction:row; align-items:center; justify-content:space-around; padding-top:2em;}
/*section*/
section {display:flex; flex-direction: column; background-color:white; color:black; padding-top:2em; overflow:auto;}
section #contato {font-family:'Slabo 27px', serif; text-align: center; margin: 1em;transform: rotate(-90deg);transform-origin: left top 0;color:rgb(255,0,60); position:fixed; opacity:0.7}
.main {margin-top: 2em}
/*article*/
article {width:80%; margin:auto; display:flex; flex-direction:row; align-items: flex-start; height: auto; padding:1em; min-width:250px;}
.box {border-top:0.5px solid gray;}
.texto {width:30%; text-align:right; padding-right:1em;}
.pic {width:70%; opacity:1;}
/*footer*/
footer {display:flex; flex-direction: column; justify-content:center; margin:1em;}
/*pages*/
.box-full {display:flex; flex-direction: column; width:100%;}
.pic-portfolio {width:100%;}
.texto-portfolio {width:80%;margin:auto;}
.texto-portfolio p {margin-top: 1em;}
#sobre {text-align: justify;margin-bottom: 0.7em;}


/*1stBP*/
@media screen and (min-width:500px)
{
  h3 {font-size: 1rem;}
  .box {border-top:none;}
}
/*2ndBP*/
@media screen and (min-width:650px)
{
  section {flex-direction:row; flex-wrap: nowrap;}
  article {flex-direction:column; align-items:stretch; border-top:none; border-right:0.5px solid gray;width: 100%; height:auto;}
  .texto {width:100%;}
  .pic {width:100%; margin-top:3em;}
}









